# Terraform junk
.terraform/
*.tfstate
*.tfstate.*
*.zip
*.log
*.backup
*.tfplan

# Ignore sensitive and local Terraform files
terraform.tfvars
*.tfplan
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log


# Python cache
__pycache__/
*.pyc

# OS junk
.DS_Store

# Environment files
.env
